.gridded {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: 30px;
}

.message {
    grid-template-rows: 1fr 1fr;
    grid-row: 2 3;
    margin-bottom: 10px;
}

.navbar {
    background-color: #bada55;
}

.msg-sender {
    grid-column: 2 3;
    grid-row: 2 3;
}

.this {
    background-color: aquamarine;
}

.them {
    background-color: lightpink;
}

.new-message {
    grid-column: 1 2;
}

.msg-body {
    grid-column: 1 3;
    grid-row: 1 2;
    text-align: left;
}